# =========================
# Java
# =========================
*.class

# Logs
*.log

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# IntelliJ
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Package files (NO deberían subirse)
# =========================
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# =========================
# JVM crash logs
# =========================
hs_err_pid*
replay_pid*

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Flyway temp
# =========================
flyway.conf

# =========================
# DevTools restart
# =========================
.restart/

# =========================
# Local database files
# =========================
data/
*.mv.db
*.lock.db
*.trace.db
